<div class="plm-pagination p-2">
  <ngb-pagination class="{{options.classNames}}"
                  [collectionSize]="options.collectionSize"
                  [maxSize]="options.maxSize"
                  [boundaryLinks]="options.boundaryLinks"
                  [rotate]="options.rotate"
                  [ellipses]="options.ellipses"
                  [directionLinks]="options.directionLinks"
                  [(page)]="options.page"
                  [size]="options.size"></ngb-pagination>
</div>
