<div class="plm-dashboard-coursepacks plm-dashboard-content mxw-1200 mx-auto">
  <div *ngIf="!showLoading; else loading">
    <plm-dashboard-header [data]="dashboardHeaderdata"></plm-dashboard-header>

    <plm-subheader [data]="subheaderData1" (open)="addCoursepack()"></plm-subheader>
    <!-- Coursepacks -->
    <div>
      <div class="row" *ngIf="coursepacks.length; else emptyMessage">
        <div class="col-md-6 col-xl-3" *ngFor="let course of coursepacks">
          <plm-course *ngIf="!course.ratings" [data]="course"
                      (delete)="deleteCoursepack(course)"
                      (edit)="editCoursepack(course)"
                      (navigate)="viewCourses(course)"></plm-course>
        </div>
      </div>

      <ng-template #emptyMessage>
        <div class="text-muted">
          You don't have any coursepack yet
        </div>
      </ng-template>
    </div>

    <!-- Approved Coursepacks -->
    <div>
      <plm-subheader [data]="subheaderData2"></plm-subheader>
      <div class="row" *ngIf="approvedCourses; else emptyApprovedMessage">
        <div class="col-md-6 col-xl-3" *ngFor="let course of approvedCourses">
          <plm-course [data]="course"></plm-course>
        </div>
      </div>

      <ng-template #emptyApprovedMessage>
        <div class="text-muted">
          You don't have any approved coursepack yet
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #loading>
    <div style="height: 90vh" class="d-flex justify-content-center align-items-center">
      loading...
    </div>
  </ng-template>

  <plm-dashboard-footer></plm-dashboard-footer>
</div>

