<div class="plm-dashboard-earnings plm-dashboard-content mxw-1200 mx-auto">
  <plm-dashboard-header [data]="dashboardHeaderdata"></plm-dashboard-header>

  <plm-subheader [data]="subheaderData1"></plm-subheader>
  <div class="card mb-24 br-4 p-20 pb-0">
    <div class="table-responsive">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
            <th class="td-100px">ID</th>
            <th class="">COURSES</th>
            <th class="td-auto text-center">QTY</th>
            <th class="td-10 text-right">UNIT</th>
            <th class="td-10 text-right">PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales">
            <td class="td-100px font-w600 cursor-pointer text-primary-blue">{{sale?.id}}</td>
            <td class="cursor-pointer text-primary-blue">{{sale?.course}}</td>
            <td class="td-auto text-center">{{sale?.quantity}}</td>
            <td class="td-10 text-right">${{sale?.unit | number: '1.2-2'}}</td>
            <td class="td-10 text-right">${{sale?.price | number: '1.2-2'}}</td>
          </tr>
          <tr>
            <td class="td-100px"></td>
            <td class=""></td>
            <td class="text-right font-w600" colspan="2">Total Price</td>
            <td class="td-10 text-right">${{total(sales) | number: '1.2-2'}}</td>
          </tr>
          <tr>
            <td class="td-100px"></td>
            <td class=""></td>
            <td class="text-right font-w600" colspan="2">Total Paid</td>
            <td class="td-10 text-right">${{total(sales) | number: '1.2-2'}}</td>
          </tr>
          <tr class="bg-alt-success">
            <td class="td-100px"></td>
            <td class=""></td>
            <td class="text-right font-w600 text-uppercase" colspan="2">Total Due</td>
            <td class="td-10 text-right">${{0 | number: '1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <plm-subheader [data]="subheaderData2">
    <ng-container class="action-template">
      <div class="d-flex">
        <div class="dropdown mr-2">
          <button class="btn btn-outline-secondary btn--sm dropdown-toggle" type="button" id="status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All
          </button>
          <div class="dropdown-menu dropdown-menu-right px-2" aria-labelledby="status">
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['fas', 'spinner']" class="text-warning spin"></fa-icon>&nbsp;
              Pending
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['fas', 'sync-alt']" class="text-alt-info spin"></fa-icon>&nbsp;
              Processing
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['fas', 'times']" class="text-alt-danger"></fa-icon>&nbsp;
              Completed
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['fas', 'check']" class="text-alt-success"></fa-icon>&nbsp;
              Completed
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active-dropdown" href="#">
              <fa-icon [icon]="['far', 'circle']"></fa-icon>&nbsp;
              All
            </a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-outline-secondary btn--sm dropdown-toggle" type="button" id="status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Today
          </button>
          <div class="dropdown-menu dropdown-menu-right px-2" aria-labelledby="status">
            <a class="dropdown-item active-dropdown" href="#">
              <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>&nbsp;
              Today
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>&nbsp;
              This Week
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>&nbsp;
              This Month
            </a>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>&nbsp;
              This Year
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <fa-icon [icon]="['far', 'circle']"></fa-icon>&nbsp;
              All Time
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </plm-subheader>
  <div class="card payments mb-24 br-4">
    <div class="p-20 bg-body-light">
      <div class="input-group">
        <input type="text" class="form-control nm-size search" placeholder="Search payments" name="search-input">
        <div class="input-group-append">
          <button type="submit" class="btn px-15 nm-size search-btn">
            <fa-icon [icon]="['fas','search']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive p-20">
      <table class="table table-borderless table-striped">
        <thead>
          <tr>
          <th class="td-100px">ID</th>
          <th class="">STATUS</th>
          <th class="">DATE</th>
          <th class="">TIME</th>
          <th class="">PROCESSED BY</th>
          <th class="text-right">VALUE</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments">
            <td class="td-100px font-w600 cursor-pointer text-primary-blue">{{payment?.id}}</td>
            <td>
              <span [ngClass]="statusClass(payment?.status)" class="badge p-1 font-w600">{{payment?.status | titlecase}}</span>
            </td>
            <td class="">{{payment?.date}}</td>
            <td class="text-primary-blue cursor-pointer">{{payment?.time}}</td>
            <td class="text-primary-blue cursor-pointer font-w600">{{payment?.processor}}</td>
            <td class="text-right">${{payment?.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <plm-pagination [options]="{classNames: 'd-flex justify-content-end', size: 'sm'}"></plm-pagination>
    </div>
  </div>

  <plm-dashboard-footer></plm-dashboard-footer>
</div>
