.cursor-pointer {
  cursor: pointer;
}

.mxw-1200 {
  max-width: 1200px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-r {
  border-right: 1px solid #e4e7ed $im;
}
