<div class="plm-create-content mb-24">
  <div class="header d-flex justify-content-between px-20">
    <div class="title font-w400">
      {{data.title}}
    </div>
    <div class="options nm-size cursor-pointer" (click)="closeDialog()">
      <span class="iconify" data-icon="simple-line-icons:close" data-inline="false"></span>
    </div>
  </div>
  <div class="body p-20 pb-md-0 d-md-flex">
    <div [class.col-md-9]="data.formFieldsCount === 1" [class.col-md-5]="data.formFieldsCount === 2" [class.px-mb-0]="data.formFieldsCount === 2">
      <div *ngFor="let field of data.formFields">
        <div class="form-group" *ngIf="field.type === 'text'">
          <input type="text" class="form-control" [placeholder]="field.placeholder">
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="data.formFieldsCount === 2">
      <div *ngFor="let field of data.formFields">
        <div class="form-group" *ngIf="field.type === 'select'">
          <select class="form-control" *ngIf="field.type === 'select'">
            <option [value]="options.value" *ngFor="let options of field.options">{{options.text}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3 px-mb-0">
      <button type="button" class="btn btn-block btn-alt-success font-w600">
        <fa-icon [icon]="data.button.icon"></fa-icon>&nbsp;
        {{data.button.text}}
      </button>
    </div>
  </div>
</div>
