.plm-dashboard {
  background-color: $dashboard-background;
  min-height: 92vh;
  &-content {
    padding: 24px 24px 1px;
  }
  &-home {
    .card {
      &-body {
        padding: 20px;
        .icon {
          color: #e4e7ed;
        }
        .chart {
          &-header {
            padding: 14px 20px;
            .block {
              &-title {
                color: rgba(255,255,255,.9);
                flex: 1 1 auto;
                min-height: 28px;
                margin: 0;
                font-size: 1.142857rem;
                font-weight: 400;
                line-height: 28px;

                small {
                  color: rgba(255,255,255,.7);
                }
              }

              &-options {
                flex: 0 0 auto;
                padding-left: 10px;
                min-height: 28px;
              }
            }
          }

          &-footer {
            transition: opacity .2s ease-out;
            margin: 0 auto;
            padding: 20px 20px 1px;
            width: 100%;
            overflow-x: visible;
          }
        }
      }
    }
  }

  &-coursepacks {
  }

  &-earnings {
    .btn.btn-outline-secondary {
      &:hover, &:focus, &:active {
        background-color: #cbd2dd;
        color: #6c757d;
      }
    }

    .dropdown-menu {
      .dropdown-item {
        padding: 5px 10px;
        margin-bottom: 5px;
        font-size: $nm-size;
        &:hover {
          background-color: $bg-alt-secondary;
        }
      }
      .active-dropdown {
        background-color: $bg-alt-secondary $im;
      }
    }

    .payments {
      box-shadow: 0 1px 1px #e4e7ed;
      border: none $im;

      .input-group {
        .form-control.search {
          padding: 6px 14px;
          font-size: $nm-size $im;
        }
        .search-btn {
          background-color: #f0f2f5;
          border-color: #cbd2dd;
          font-size: $nm-size;
        }
      }
    }
  }

  &-courses {
    /deep/ {
      .small-text {
        font-size: 1.285714rem;
        margin-bottom: 0 $im;
      }

      .switch-cont    {
        display: flex;
        align-items: center;
      }

      label {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
        margin: 0 auto;

        .slider {
          background-color: #ccc;
          cursor: pointer;
          border-radius: 20px;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          transition: 0.4s;

          &:before {
            position: absolute;
            content: '';
            width: 25px;
            height: 25px;
            border-radius: 50%;
            top: 2.5px;
            left: 2.5px;
            background-color: #ffffff;
            transition: 0.4s;
          }
        }

        input {
          display: none;

          &:checked + .slider {
            background-color: $success-color;

            &:before {
              transform: translateX(20px);
            }
          }
        }
      }

      .switch-cont .switch-text  {
        display: inline-block;
        font-size: 130%;
      }

      .course-item {
        background-color: $white;
      }
    }
  }
}

.spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(359deg)}
}

@-webkit-keyframes fa-spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(359deg)}
}

@-moz-keyframes fa-spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(359deg)}
}

