.plm-dashboard {
  background-color: $dashboard-background;
  min-height: 92vh;
  &-content {
    padding: 24px 24px 1px;
  }
  &-home {
    .card {
      &-body {
        padding: 20px;
        .icon {
          color: #e4e7ed;
        }
        .chart {
          &-header {
            padding: 14px 20px;
            .block {
              &-title {
                color: rgba(255,255,255,.9);
                flex: 1 1 auto;
                min-height: 28px;
                margin: 0;
                font-size: 1.142857rem;
                font-weight: 400;
                line-height: 28px;

                small {
                  color: rgba(255,255,255,.7);
                }
              }

              &-options {
                flex: 0 0 auto;
                padding-left: 10px;
                min-height: 28px;
              }
            }
          }

          &-footer {
            transition: opacity .2s ease-out;
            margin: 0 auto;
            padding: 20px 20px 1px;
            width: 100%;
            overflow-x: visible;
          }
        }
      }
    }
  }

  &-courses {
  }

  &-earnings {
    .btn.btn-outline-secondary {
      &:hover, &:focus, &:active {
        background-color: #cbd2dd;
        color: #6c757d;
      }
    }

    .dropdown-menu {
      .dropdown-item {
        padding: 5px 10px;
        margin-bottom: 5px;
        font-size: $nm-size;
        &:hover {
          background-color: $bg-alt-secondary;
        }
      }
      .active-dropdown {
        background-color: $bg-alt-secondary $im;
      }
    }
  }
}
.spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(359deg)}
}

@-webkit-keyframes fa-spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(359deg)}
}

@-moz-keyframes fa-spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(359deg)}
}

