<div class="plm-modal" role="dialog">
    <div class="modal-header">
      <h5 class="modal-title font-w600">{{popupData?.title}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="coursepackForm" *ngIf="!isDelete; else deleteTemplate">
        <div class="form-group">
          <label for="coursepack-name">Subject Title</label>
          <input type="text" id="coursepack-name" class="form-control" formControlName="title">
        </div>

        <div class="form-group">
          <label for="coursepack-price">Subject Price</label>
          <input type="number" min="0" id="coursepack-price" class="form-control" formControlName="price">
        </div>
      </form>
      <ng-template #deleteTemplate>
        <p>Deleting this Subject will remove all the topics and lessons in it, are you sure you want to continue?</p>
      </ng-template>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn font-w600 btn-alt-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
      <button type="button" class="btn font-w600"
              [ngClass]="btnClass"
              [class.disabled]="coursepackForm.invalid || showLoader"
              [disabled]="coursepackForm.invalid || showLoader"
              (click)="action()">
        <span>{{popupData?.button}}</span>
        <plm-loader class="ml-2" [data]="{type: 2, color: 'white'}" *ngIf="showLoader"></plm-loader>
      </button>
    </div>
</div>
