<div class="plm-dashboard-coursepacks plm-dashboard-content mxw-1200 mx-auto">
  <plm-dashboard-header [data]="dashboardHeaderdata"></plm-dashboard-header>

  <plm-subheader [data]="subheaderData1" (open)="showCreateContent()"></plm-subheader>
  <plm-create-content *ngIf="showCreate" [data]="createContentData" (close)="hideCreateContent()"></plm-create-content>
  <div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let course of courses">
      <plm-course *ngIf="!course.ratings" [data]="course" routerLink="some"></plm-course>
    </div>
  </div>

  <plm-subheader [data]="subheaderData2"></plm-subheader>
  <div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let course of courses">
      <plm-course *ngIf="course.ratings" [data]="course"></plm-course>
    </div>
  </div>

  <plm-dashboard-footer></plm-dashboard-footer>
</div>

